
body {
    background-color: #f4f0d9;
    font-family: 'Glacial Indifference';
    color: #638c80;
}


nav{
    background-color: #638c80;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';
}

.sidenav-fixed{
    background-color: #638c80;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';  
}


.waves-effect{
    background-color: #638c80;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';   
}

.text{
    color: #f4f0d9;
    font-family: 'Glacial Indifference';   
}

ul.tabs {
    background-color: #638c80;
    display : flex;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';

}

li.tab {
    background-color: #638c80;
   flex-basis : 33.33%;
   color: #f4f0d9;
   font-family: 'Glacial Indifference';
}

.tab {
    background-color: #638c80;
    flex-basis : 33.33%;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';
 }

.tabs .tab a.active{
    background-color: #638c80;
    color: #f4f0d9;
    font-family: 'Glacial Indifference';
}

.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
    background-color: #638c80;
    color: #f4f0d9;
}
header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header,nav, main, footer {
      padding-left: 0;
    }
  }

  .sidenav .user-view .circle {
    display:inline-block;
    padding-bottom: 0px;

}